.idea
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.git-blame-ignore-revs
.php-cs-fixer.cache
*.phar
*.cache
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
.git-rewrite/
.php-cs-fixer.cache
node_modules
